:root{
  --bg-body: #083b4c;
  --title: #fff;
  --bg-box: #1389b2;
  --bg-green-box: #0cd6a1;
  --bg-yellow-box: #ffd166;
  --bg-red-box: #f0466f;
}

body{
  background-color: var(--bg-body);
}

h1{
  font-size: 5rem;
  color: var(--title);
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 10 - 20px);
  height: 100px;
  margin: 10px;
  font-size: 25px;
  background-color: var(--bg-box);
}

.bg-green{
  background-color: var(--bg-green-box);
}

.bg-yellow{
  background-color: var(--bg-yellow-box);
}

.bg-red{
  background-color: var(--bg-red-box);
}